src/gz openwrt_core https://github.com/shivajiva101/WB01/raw/main/packages/ramips/mt76x8/packages
src/gz openwrt_base https://github.com/shivajiva101/WB01/raw/main/packages/mipsel_24kc/base
src/gz openwrt_luci https://github.com/shivajiva101/WB01/raw/main/packages/mipsel_24kc/luci
src/gz openwrt_packages https://github.com/shivajiva101/WB01/raw/main/packages/mipsel_24kc/packages
src/gz openwrt_routing https://github.com/shivajiva101/WB01/raw/main/packages/mipsel_24kc/routing
src/gz openwrt_telephony https://github.com/shivajiva101/WB01/raw/main/packages/mipsel_24kc/telephony
